<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
    <form action="/submit" method="post">
      Name <input type="text" name="name">
      location <select name="location">
        <option value="SJ">SJ</option>
        <option value="SF">SF</option>
        <option value="LA">LA</option>
      </select>
      language <select name="language">
        <option value="python">python</option>
        <option value="ruby">ruby</option>
        <option value="js">js</option>
      </select>
      <textarea name="comment" rows="8" cols="80"></textarea>
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
